{% extends "base.html" %}
{% block title %}Your Recommendations{% endblock %}
<!--list of all recommended-->

{% block content %}
<!--INPUT YOUR HTML CODE FOR THIS PAGE HERE!-->

<!--BELO NOT NEEDED ANYMORE: NOW LOOPING THROUGH CARD DECK -->
<!--<section class="text-center">-->
<!--<h2> YOUR RECOMMENDATIONS! </h2>-->


<!--&lt;!&ndash;we'll have to display a pic with that item too...?&ndash;&gt;-->
<!--<div>-->
<!--{% for item in recommendations %}-->
<!--   <p> {{item.id}} {{item.recommendation_name}} {{item.recommendation_location}}-->
<!--       {{item.recommendation_category}} {{item.recommendation_website}}</p>-->
<!--{% endfor %}-->
<!--    <br>-->
<!--    {{ message }}-->
<!--</div>-->
<!--</section>-->


<!--(jinja syntax working on website:)-->

<br>
<br>
<div class="container-fluid">
 <div class="text-center">
     <div class="display-1"<h3>Your Recommendations!</h3>
</div>
<br>
<!--intro info code-->

<br>
    <br>
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading"> Want to try something different ? </h1>
          <p class="lead text-muted"> Below are your recommendations around campus. If you know something fun coming up,
              don't keep it to yourself; add below!</p>
          <p>
            <a href="http://127.0.0.1:5000/recommendations" class="btn btn-primary my-2">Recommend here</a>
              <a href="https://www.google.co.uk/maps" class="btn btn-secondary my-2"> How to get there? </a>
          </p>
        </div>
      </section>

<!--    Explaination of the page  -->
    <div class="container-fluid bg-1 text-center">
        <p> Below are your highlighted recommended events and places!
        And the calender for the events for the year around Osterley ! </p>

<!--    Cards for events this month -->
<div class="container-fluid">
        <div class="card-deck">
<!--                   Card 1 using jinja templating-->
<div>
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        {% for item in recommendations %}
                <div id={item.id} class="card" style="width: 18rem;">
                    <img class="card-img-top" src="static/images/roses.jpeg" alt="Tree">
                    <div class="card-body">
                      <h5 class="card-title">{{ item.recommendation_name }}</h5>
                        <a class="btn btn-primary" href="{{item.recommendation_website}}" role="button">Click Here</a>
                      <p class="card-text">{{item.recommendation_description}}</p>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ item.recommendation_category }}</li>
                        <li class="list-group-item">{{item.recommendation_location}}</li>
                        <li class="list-group-item">Recommended by: {{item.recommendation_author}}</li>
                        <li class="list-group-item">££ {{item.recommendation_discount}}</li>
                      </ul>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
</div>




{% endblock %}


<!--this page is equivalent to hero.html-->