{% extends "base.html" %}
{% block title %}You Recommend!{% endblock %}

{% block content %}
<!--INPUT YOUR HTML CODE FOR THIS PAGE HERE!-->


<!--code showing on website atm: -->
<head></head>

<!--title code-->
<body>
<br>
<br>
<div class="container-fluid">
 <div class="text-center">
     <div class="display-1"<h1>Recommend Away</h1>
</div>
<br>
<!--intro info code-->
<br>
    <p class="lead">
With plenty of places to do around Sky Osterley campus itself, is there a place you know that we may love? Don't keep it yourself and let us all know!
</p>

<br>
    <br>
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">What great spaces do you know? </h1>
          <p class="lead text-muted"> Use the form below to submit your recommendation!</p>
          <p>
              <a href="https://www.google.co.uk/maps" class="btn btn-secondary my-2"> How to get there? </a>
          </p>
        </div>
      </section>
</body>



<section>
<div class='container-fluid' style="width:50%">
    <form></form>

    <form method='POST' action=''>
        <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
        {{ form.csrf_token }}
        <div class="form-group">
            <div class = "mb-3">
<!--       changed div class for form-label from col-md-2 to col-md-9 (so words stop displaving on top of each other): e.g. <div class="col-md-9">{{ form.recommendation_website.label (class_="form-label") }}</div>  -->
                <div class="col-md-9">{{ form.recommendation_name.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.recommendation_name (class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_description.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_description(class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_location.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_location (class_="form-control", size =32) }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_website.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.recommendation_website(class_="form-control", size =32) }}</div>
            </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_category.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_category (class_="form-control", size =32) }}</div>
            </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_discount.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_discount (class_="form-control", size =32) }}</div>
            </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_author.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_author (class_="form-control", size =32) }}</div>
            </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-10">{{ form.submit(class_="btn btn-primary mb-3") }}</div>
            </div>
        </div>
        {{ message }}
    </form>
</div>
</section>







<!--Update to this form after functionality sorted out - Today 4th May-->
<!--<div class = "container">-->
<!--  <h1 > Recommendations</h1>-->
<!--  <br><br>-->

<!--  <form action ="/form" method="POST">-->
<!--            &lt;!&ndash; provides CRSF protection, alongside secret key. Use on all POST forms &ndash;&gt;-->
<!--        {{ form.csrf_token }}-->
<!--    <div class="form-group">-->
<!--    <label for="exampleInputEmail1">Recommend</label>-->
<!--    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->


<!--  </div>-->

<!--    <div class="form-group">-->
<!--    <label for="exampleInputEmail1">First Name</label>-->
<!--    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First name" name="First_name">-->


<!--  </div>-->

<!--  <div class="form-group">-->
<!--    <label for="exampleInputEmail1">Last name</label>-->
<!--    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last name" name=" last_name">-->

<!--  </div>-->

<!-- <br/>-->
<!--  <button type="submit" class="btn btn-secondary">Submit</button>-->
<!--</form>-->
<!--</div>-->



{% endblock %}