{% extends "base.html" %}
{% block title %}You Recommend!{% endblock %}

{% block content %}
<!--INPUT YOUR HTML CODE FOR THIS PAGE HERE!-->

<!--recommendation form error flashed messages-->
{% with messages = get_flashed_messages(with_categories =true) %}
{% if messages %}
    {% for category, message in messages %}
    {% if category == "error" %}
<!--below will show the flash feature-->
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
    <!--below will display the message:-->
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
    <!--        span displays button in a fancier way-->
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
<!--below for other message: success variable-->
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}


<!--styling code-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
body {font-family: "Open Sans"}
</style>
</head>

<!--title code-->

<body class="w3-light-grey">
</body>
      <header class="w3-container w3-center w3-padding-48 w3-white">
     <h1 class="display-1" style="font-size: 90px; font: 'Open Sans'"><b> Recommend away! </b></h1>
<br>
    <h5 class="lead" style="color: rgb(191, 172, 181); font-size: 26px;">
With plenty of places to do around Sky Osterley campus itself, is there a place you know that we may love? Don't keep it yourself and let us all know!
</h5>
      </header>

<!--middle section with recommendations-->

    <br>
    <section class="jumbotron text-center" style="background-color: rgb(185, 209, 223);">
        <div class="container">
          <h1 class="jumbotron-heading">What great spaces do you know? </h1>
          <p class="lead text" style="color: rgb(124, 114, 131);"> Use the form below to submit your recommendation!</p>
<!--          <p><a href="http://127.0.0.1:5000/recommendations" class="btn btn-primary my-2" style="background-color: rgb(76, 132, 169); border-color: rgb(76, 132, 169)";>Recommend here</a>-->
              <a href="https://www.google.co.uk/maps" class="btn btn-secondary my-2"> How to get there? </a>
          </p>
        </div>
      </section>
    </body>

<!--Form code below-->

<section>
<div class='container-fluid' style="width:50%">
    <form></form>

    <form method='POST' action=''>
        <!-- provides CRSF protection, alongside secret key. Use on all POST forms -->
        {{ form.csrf_token }}
        <div class="form-group">
            <div class = "mb-3">
<!--       changed div class for form-label from col-md-2 to col-md-9 (so words stop displaving on top of each other): e.g. <div class="col-md-9">{{ form.recommendation_website.label (class_="form-label") }}</div>  -->
                <div class="col-md-9">{{ form.recommendation_name.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.recommendation_name (class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_description.label(class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_description(class_="form-control", size =32)}}</div>
            </div>
        </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_location.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_location (class_="form-control", size =32) }}</div>
            </div>
        </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_website.label (class_="form-label") }}</div>
                <div class="col-md-10">{{ form.recommendation_website(class_="form-control", size =32) }}</div>
            </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_category.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_category (class_="form-control", size =32) }}</div>
            </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_discount.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_discount (class_="form-control", size =32) }}</div>
            </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-9">{{ form.recommendation_author.label (class_="form-label")}}</div>
                <div class="col-md-10">{{ form.recommendation_author (class_="form-control", size =32) }}</div>
            </div>
        <div class="form-group">
            <div class = "mb-3">
                <div class="col-md-10">{{ form.submit(class_="btn btn-primary mb-3") }}</div>
            </div>
        </div>
        {{ message }}
    </form>
</div>
</section>


{% endblock %}